
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f8fb;
    color: #080808;
}
header {
    background: #f5d5f3;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    letter-spacing: 2px;
}
nav {
    background: #fff;
    box-shadow: 0 2px 8px rgba(10,109,59,0.08);
    padding: 1px 0;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
}
.logo {
    font-weight: bold;
    font-size: 16px;
    color: #f7f59a;
    letter-spacing: 1px;
}
.nav-links {
    display: flex;
    gap: 60px;
}
.nav-links a {
    text-decoration: none;
    color: #9495eb;
    font-weight: 500;
    padding: 8px 0;
    transition: color 0.2s;
}
.nav-links a:hover {
    color: #e0ecc4;
    border-bottom: 2px solid #e0ecc4;
}
.nav-links a:hover {
    color: #e0ecc4;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle span {
    height: 3px;
    width: 25px;
    background: #ebf1b5;
    margin: 4px 0;
    border-radius: 2px;
}
main {
    max-width: 1100px;
    margin: 32px auto;
    padding: 16px;
}

.product-btn{
    display: block;
    margin: 20px auto;
    border: none;
    background: #e9d5e2;
    color: #080808;
    border-radius: 1000px;
    padding: 19px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
    width: fit-content;
    transition: background 0.2s;
}
.product-btn:hover {
    background: #d1b7c9;
}
img{
    display: block;
    max-width: 60%;
    height: auto;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0 2px 8px
}
section {
    margin-bottom: 40px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(245, 248, 194, 0.527);
    padding: 24px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    gap: 50px;
    margin-top: 40px;
}
.product-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(12, 14, 1, 0.185);
    padding: 10px 8px 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}
.product-card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 8px 24px rgba(22, 1, 19, 0.473);
}
.product-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(15, 1, 15, 0.377);
    background: #f4f8fb;
}
h2 {
    text-align: center;
    color: #c456a8;
    font-family:'Fira Code', Consolas, 'Courier New', monospace;
    font-size: 20px;
    font-weight: 600;
}
p{
    text-align: center;
    font-style: italic;
    color: #444;

}
.product-card h3 {
    margin: 10px;
    color: #ad9ce9;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}
.price {
    color: #ba5ecc;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 13px;
}
.desc {
    font-size: 16px;
    color: #313131;
    text-align: center;
    margin-bottom: 5px;
    min-height: 0px;
}
.buy-btn {
    background: linear-gradient(90deg, #c490d1 60%, #c992b6 100%);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px 18px;
    font-size: 17px;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(215, 150, 228, 0.945);
    transition: background 0.2s, transform 0.2s;
}
.buy-btn:hover {
    background: linear-gradient(to right, #c06ba4 60%, #b072c0 90%);
    transform: scale(1.05);
}
#contact {
    max-width: 700px;
    margin: 40px auto;
    padding: 28px 100px;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0 2px 12px #e5e5e5;
}
.contact-title {
    text-align: center;
    color: #b55fa2;
    letter-spacing: 19px;
    margin-bottom: 15px;
}
.contact-subtitle {
    text-align: center;
    font-style: italic;
    color: #888;
    margin-bottom: 30px;
}
.contact-flex {
    display: flex;
    justify-content: center;
}
.contact-info {
    flex: 1;
    font-size: 15px;
    color: #444;
    padding-top: 10px;
}
.contact-form {
    flex: 1;
    padding: 10px 20px;
}
.contact-form label {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    color: #222;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 7px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
}
.contact-form button {
    margin-top: 10px;
    padding: 8px 20px;
    background: #b55fa2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.2s;
}
.contact-form button:hover {
    background: #8c3e7c;
}
footer {
    background: #f5d5f3;
    color: #8d7d71;
    text-align: center;
    padding: 16px 0;
    letter-spacing: 1px;
    margin-top: 32px;
}
footer.medsos{
    text-align: center;
    padding-top: 10px;
}
footer .medsos a{
    font-size: 36px;
    padding: 5px 20px;
}